body{
	font-family: Arial, sans-serif;
}

nav{
	width: 100%;
	height: 60px;
	background: #344051;
}

.logo{
	color: 	#fff;
	font-size: 28px;
	line-height: 60px;
	padding-left: 388px;
	float: left;	
}

.menu{
	float: left;
	padding-left: 432px;
}

.menu li{
	float: left;
	line-height: 60px;
	color: #fff;
	margin-right: 40px;
	font-size: 16px;
	text-transform: uppercase;
}

.main{
	width: 100%;
	height: calc(100% - 60px);
	background:url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/fon.jpg) center/cover no-repeat;
}

.title__container{
	float: left;
	margin: 432px 0px 0px 404px;
	color: #1f189f;
	text-align: center;
}

.title__container h1{
	font-size: 60px;
	font-weight: bold;
}

.title__container h4{
	margin-top: 40px;
	font-size: 22px;
	color: #12345d;
}

.title__container input{
	height: 40px;
	text-align: center;
	border: 2px solid #12345d
	background: none;
	border-radius: 5px;
	color: #12345d;
	font-size: 13px;
	padding: 0px 16px;
	margin: 58px 28px 0px 14px;

}

.obo_mne h2{
	margin: 20px 0px 0px 45%;
	font-size: 50px;
}

.obo_mne img{
	margin-top: 31px;
	margin-left: 46%;
	margin-bottom: 15px;
    border-radius: 1000px; 
    box-shadow: 0 0 0 3px black, 0 0 13px #fff; 
}

.obo_mne p{
	padding-left: 35%;
	padding-right: 30%;
	padding-bottom: 12px;
}

.obo_mne input{
	margin: 20px 0px 0px 50%; 
	height: 50px;
	text-align: center;
	border: 2px solid black;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

/*не понимаю по чему (.chto_i_umey "h3" и .chto_i_umey "p") 
привязанны к картинкам. 
Наверняка  что-то в  html намудрил, но не могу понять что */

.chto_i_umey h2{
	margin: 20px 0px 0px 45%;
	font-size: 50px;
}

.chto_i_umey img{
	float: left;
	margin-left: 140px;
	
}

.chto_i_umey h3{
	float: left;
	padding-top: 200px;
} 

.chto_i_umey p{
float: left;
	padding-top: 200px;
}








